<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/OASfrontend/dist/output.css" rel="stylesheet">
    <link href="main.css" rel="stylesheet">
    <link rel="stylesheet" href="css/flipdown/flipdown.css" />
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- navbar goes here -->
<nav class="bg-gray-100">
    <div class="max-w-6xl mx-auto px-4">
      <div class="flex justify-between">
  
        <div class="flex space-x-4">
          <!-- logo -->
          <div>
            <a href="#" class="flex items-center py-5 px-2 text-gray-700 hover:text-gray-900">
              <svg class="h-6 w-6 mr-1 text-blue-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8" />
              </svg>
              <span class="font-bold">OAS DEV</span>
            </a>
          </div>
  
          <!-- primary nav -->
          <div class="hidden md:flex items-center space-x-1">
            <a href="#" class="py-5 px-3 text-gray-700 hover:text-gray-900">Accoun</a>
            <a href="#" class="py-5 px-3 text-gray-700 hover:text-gray-900"><button onclick="dispaly1()">Add Items</button></a>
            <a href="#" class="py-5 px-3 text-gray-700 hover:text-gray-900">My Items</a>
          </div>
        </div>
  
        <!-- secondary nav -->
        <div class="hidden md:flex items-center space-x-1">
          <a href="" class="py-5 px-3">Login</a>
          <a href="singup.html" target="_blank" class="py-2 px-3 bg-yellow-400 hover:bg-yellow-300 text-yellow-900 hover:text-yellow-800 rounded transition duration-300">Signup</a>
        </div>
  
        <!-- mobile button goes here -->
        <div class="md:hidden flex items-center">
          <button class="mobile-menu-button">
            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </button>
        </div>
  
      </div>
    </div>
  
    <!-- mobile menu -->
    <div class="mobile-menu hidden md:hidden">
      <a href="#" class="block py-2 px-4 text-sm hover:bg-gray-200">Account</a>
      <a href="#" class="block py-2 px-4 text-sm hover:bg-gray-200">Add Items</a>
      <a href="#" class="block py-2 px-4 text-sm hover:bg-gray-200">My Items</a>
      <a href="#" class="block py-2 px-4 text-sm hover:bg-gray-200">Sign out</a>
    </div>
  </nav>
  
  <!-- content goes here -->
  <div class="hidden shadow-2xl h-48 bg-gray-400 w-2/6 rounded-lg center">
      <div class="flex justify-center m-6">
        <table>
          <tr>
            <td>
              <label for="name">Enter the product name:</label>
            </td>
            <td>
              <input v-model="productName" class="rounded-md" id="price" type="text">
            </td>
            <tr>
              <td>
                <label for="price">Enter the product initial bid:</label>
              </td>
              <td>
                <input class="rounded-md" v-model="inibid" id="number" type="number">
              </td>
              <tr>
                <td>
                  <label for="time">Time listed on the auction:</label>
                </td>
                <td>
                  <select v-model="time" class="rounded-md">
                    <option selected disabled>chose</option>
                    <option>12 Hours</option>
                    <option>1 Day</option>
                    <option>2 Day</option>
                    <option>3 Day</option>
                  </select>
                </td>
              </tr>
            </tr>
          </tr>
          <tr>
            <td></td>
            <td>
              <button @click="additm()" class="bg-green-500 p-1 rounded-lg">Add</button>
              <button onclick="cancel1()" class="ml-10 mt-10 bg-red-600 p-1 rounded-lg">CANCEL</button>
            </td>
          </tr>
        </table>
       
        
      </div>
  </div>
  <div v-for="(items,index) in card" class="mt-16">
    <div class="h-44 flex shadow-lg">
        <div class="w-4/6 bg-gray-500 font-serif font-bold">
           <h1>Seller Name:{{items[0]}}</h1>
           <h1>Product Name:{{items[0]}}</h1>
           <h1>Initial Bid:{{items[1]}}</h1>
           <h1>current Highest Bid:</h1><br>
           <vue-countdown />
        </div>
        <div class="bg-blue-300 h-44 w-2/6">
           <img class="h-full w-full" src="iot.jpg">
        </div>
    </div>
  </div>
    </div>
    <script src="index.js"></script>
    <script src="vue.js"></script>
    <script src="js/flipdown/flipdown.js"></script>
    <script>
        let vue=new Vue({
            el:"#app",
            data:{
              productName:"",
              inibid:"",
              time:"",
              card:[],
            },
            methods:{
              additm(){
                if(this.productName=="" || this.inibid=="" || this.time==""){
                      alert("Make sure to fill all the blank areas")
                }
                else {
                    let pass = [this.productName,this.inibid,this.time];
                    this.card.push(pass);
                    var cntr = document.querySelector(".center");
                    cntr.style.display="none";
                    this.productName="";
                    this.inibid="";
                    this.time="";
                }
                
              }
              
            }
          })
    </script>
    
</body>
</html>